{% extends "base.html" %}

{%block content %}
<div class="container">
  <h1>About This Page</h1>
  <p>This page was written in Python using the Flask microframework. It's hosted
     on a Digital Ocean nginx webserver. Source is available at
     <a href="https://github.com/nrlakin">my github</a>. If you're interested in
      learning more about Flask, check out Miguel Grinberg's excellent
      <a href="http://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world">tutorial</a>.
    </p>

{% endblock %}
